/* Cart.css */
.cart-container {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
  position: fixed;
  right: 10px;
  top: 145px;
  z-index: 2;
  }
  
  .cart-item {
    margin-bottom: 10px;
  }
  
  .cart-summary {
    margin-top: 10px;
    font-weight: bold;
  }
  
  .cart-item button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .cart-item button:hover {
    background-color: darkred;
  }
  
  .cart-summary button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .cart-summary button:hover {
    background-color: darkgreen;
  }
  